.basket {
  &-content {
    flex-basis: 568px;
    margin: 63px 64px 100px 22px;

    @media(max-width: $width-lg) {
      flex-grow: 1;
      margin-right: 22px;
    }

    @media(max-width: $width-lg) {
      margin-left: 0;
      margin-right: 0;
      padding: 10px;
    }
  }

  &-title {
    font-weight: bold;
    text-transform: uppercase;
    color: $color-title;

    @media(max-width: $width-sm) {
      width: 100%;
      text-align: center;
    }

    &-count {
        font-size: 15px;
        margin-left: 15px;
        text-transform: uppercase;
        margin-right: auto;
    }

    &-wrap {
      display: flex;
      align-items: baseline;
      align-items: baseline;

      @media(max-width: $width-sm) {
        flex-wrap: wrap;
      }
    }
  }

  &-link {
    text-decoration: none;
    color: inherit;
  }

}
