$color-main: #4f4f4f;
$color-title: #2b2b2b;
$color-button: #F9F8F6;
$color-pagination: #CFCCCC;
$color-link-active: #FFF;
$color-border-active: #E79043;
$color-basket: #EB5757;

$width-lg: 1024px;
$width-sm: 768px;
$width-m: 480px;
