.product {
  flex-basis: 885px;

  display: flex;

  justify-content: space-between;

  &-image {


    &-wrap {
      width: 373px;
    }

    &-slider {
      margin-top: 19px;

      display: flex;

      justify-content: space-between;
    }
  }

  &-description {

    &-wrap {
      border-top: 1px solid $color-main;

      flex-grow: 1;
    }
  }

  &-title {
    margin: 34px auto 20px 119px;

    color: $color-title;
    text-transform: uppercase;
  }

  &-text{
    font-family: GothaProMed;
    margin-left: 119px;

    color: $color-title;
    text-transform: uppercase;
    font-weight: bold;
  }

  &-size {
    margin-top: 82px;

    &-wrap {
      margin-left: 119px;
      margin-top: 20px;

      display: flex;
      justify-content: flex-start;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      color: $color-main;

      margin:0 19px 0 0;

      box-sizing: border-box;
      border: 1px solid $color-main;

      width: 42px;
      height: 42px;

      &:hover {
        background-color: $color-main;

        color: $color-link-active;
      }
    }
  }

  &-color {
    margin-top: 40px;

    &-element {
      border-radius: 50%;

      width: 42px;
      height: 42px;

      display: block;

      box-sizing: border-box;

      background-color: grey;
      border: 2px solid grey;

      margin-right: 19px;

      &:hover {
        border: 2px solid $color-border-active;
        background-color: $color-main;
      }
    }

    &-wrap {
      display: flex;
      justify-content: flex-start;

      margin-left: 119px;
      margin-top: 20px;
    }
  }

  &-button {
    display: flex;
    margin-top: 77px;
    margin-left: 119px;
    width: 176px;
    height: 50px;

    justify-content: center;
    align-items: center;

    background-color: transparent;

    font-size: 10px;
    text-transform: uppercase;

    box-sizing: border-box;

    border: 1px solid $color-main;
  }
}
