.break-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin: 0 20px  0 121px;

  @media(max-width: $width-lg) {
    margin-left: 20px;
  }

  &::after {
    content: "";
    display: block;
    border-bottom: 1px solid $color-main;
    margin-left: 46px;
    flex-grow: 1;
  }

  &-title {
    text-transform: uppercase;
  }
}
