.customer-top-choise {
  &-wrap {
    margin: 108px 20px 106px 118px;

    @media(max-width: $width-lg) {
      margin-left: 20px;
      }

    @media(max-width: $width-m) {
      margin: 108px 0 106px;
      }

    display: flex;
    justify-content: flex-end;

    @media(max-width: $width-m) {
      flex-direction: column;
      }
    }

  &-right-side {
    width: 668px;

    &-figure {
      display: flex;
      justify-content: space-between;

      @media(max-width: $width-lg) {
        height: 307px;
        }

      @media(max-width: $width-m) {
        flex-direction: column;
        height: auto;
        }
      }

    &-several-images {
      width: 373px;
      height: 446px;

      margin-right: 20px;

      @media(max-width: $width-lg) {
        margin-right: 13px;

        max-width: 254px;
        height: 307px;
        }

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > img {
        width: 100%;
        height: auto;

        @media(max-width: $width-m) {
          width: auto;
          height: auto;
          }
        }

      @media(max-width: $width-m) {
        width: 100%;
        margin-right: 0;
        max-width: inherit;
        height: auto;
        }
      }

    @media(max-width: $width-m) {
      width: 100%;
      }

    img {
      @media(max-width: $width-m) {
        object-fit: contain;
        margin-top: 20px;

        height: 191px;
        }
      }
    }

  &-left-side {
    max-width: 374px;
    flex-shrink: 1;

    margin-right: 20px;

    overflow: hidden;

    @media(max-width: $width-lg) {
      max-width: 256px;
      height: 418px;

      margin-right: 13px;
      }

    @media(max-width: $width-m) {
      width: 100%;
      max-width: inherit;

      margin-right: 0;

      height: 191px;
      text-align: center;
      }
    }
  }
