.newest-collection-women {
  margin: 78px 20px 102px 118px;

  @media(max-width: $width-lg) {
    margin-left: 208px;
    }

  @media(max-width: $width-m) {
    margin: 78px 0 102px;

    flex-direction: column;
    }

  max-width: 1062px;

  display: flex;
  justify-content: space-between;

  &-left-side {
    width: 669px;
    flex-shrink: 1;
    min-width: 271px;

    overflow: hidden;

    margin-right: 20px;

    @media(max-width: $width-lg) {
      margin-right: 13px;
      }

    @media(max-width: $width-m) {
      margin-right: 0;
      text-align: center;

      width: 100%;
      }
    }

  &-right-side {
    width: 373px;
    flex-shrink: 1;
    min-width: 256px;

    overflow: hidden;

    @media(max-width: $width-m) {
      width: 100%;
      }
    }
  }

.red {
  &-shoes {
    &-wrap {
      height: 387px;

      @media(max-width: $width-m) {
        display: block;

        margin-bottom: 20px;
        }
      }
    }
  &-dress {
    height: 266px;

    &-wrap {
      @media(max-width: $width-m) {
        text-align: center;
        }
      }
    }
  }

.white-pullover {
  &-wrap {
    margin-top: 16px;

    @media(max-width: $width-m) {
      text-align: center;
      }
    }
  }
