.present {
  &-wrap {
    margin-top: 43px;

    display: flex;
    justify-content: space-between;
    }

  &-left-side {
    flex-basis: 118px;

    @media(max-width: $width-lg) {
      flex-basis: 208px;
      flex-shrink: 0;
      }

    &__child {
      flex-basis: 217px;

      @media(max-width: $width-lg) {
        flex-basis: 208px;
        }
      }

    @media(max-width: $width-m) {
      position: absolute;
      right: 20px;
      top: 24px;
      }
    }

  &-title {
    position: absolute;
    top: 317px;
    left: 76px;
    z-index: 2;

    text-align: center;
    text-transform: uppercase;
    color: $color-title;
    }

  &-description {
    text-align: center;
    text-transform: capitalize;

    position: absolute;
    top: 348px;
    left: 75px;
    z-index: 2;
    }

  &-photo {
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;

    &-wrap {
      position: relative;
      flex-basis: 1055px;
      height: 519px;
      overflow: hidden;
      flex-shrink: 1;
      min-width: 540px;

      margin-right: 27px;

      @media(max-width: $width-m) {
        margin-right: 0;
        min-width: inherit;
        height: 497px;
        }
      }
    }
  }
